.about {
    margin-bottom: 150px;
    &__title {
        position: relative;
        font-family: 'Roboto',sans-serif;
        font-size:2rem;
        text-align: center;
        padding: 50px;
        letter-spacing: 2px;

        &--white {
            color: #fff;


            &::before {
                content: '';
                position: absolute;
                bottom: 25px;
                height: 2px;
                width: 100px;
                @include centerer-x;
                background-color: #000;
            }
        }

    }

    &__card {
        width: 30%;
        border: 1px solid #d4d4d4;
        box-shadow: 0 1px 7px rgba(60, 60, 60, 0.25);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    &__body {
        padding: 0 20px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    &__footer {
        border-top: 1px solid #d4d4d4;
        //padding: ;
    }

    &__duration {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__card-title {
        font-family:'Roboto',sans-serif;
        font-weight:bold;
        font-size: 1.5rem;
        text-align: center;
        padding: 30px 0;
        text-align: center;
    }

    &__card-description {
        text-align: center;
    }

    &__card-price {
        text-align: center;
    }

    .about__container {
        display: flex;
        justify-content: space-between;
        padding: 0 35px;
    }

    &__img {
        width: 100%;
        //box-shadow: 0 1px 7px rgba(60, 60, 60, 0.25);

    img {
            width: 100%;
        }
    }
}