.button {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff9039;
    font-size: 1.125rem;
    font-family: 'MSC-300',sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    text-decoration: none;
    padding: 10px 20px;

    &:hover, &:active {
        background-color: #004f79;
    }

    &--calc {
        padding: 20px;
        margin-bottom: 20px;

    }

    &__container {
        text-align: center;
    }

    &--project {
        margin-bottom: 20px;
    }

    &--center {
        position: relative;
        z-index: 1;

    }
}