.discounts {
    // box model
    height: 100vh;

    &__title {
        // positioning
        position: relative;

        // box model
        padding: 50px;

        // typography
        font-family: 'Roboto',sans-serif;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 2px;

        &::before {
            content: '';
            position: absolute;
            bottom: 25px;
            height: 2px;
            width: 100px;
            @include centerer-x;
            background-color: #000;
        }

    }

    &__subtitle {
        text-align: center;
        font-family: 'Roboto',sans-serif;
    }
}
