.form {
    position: relative;
    z-index: 1;
    width: 350px;
    background-color: #fff;
    padding: 30px;

    &__container {
        transform: translateX(800px);
        margin-top: 100px;
        //transform: translateY(100px);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        display: inline-block;
    }

    &__title {
        font-family: 'MSC-300',sans-serif;
        font-weight:500;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__group {
        padding-bottom: 20px;
        width: 100%;
    }
    &__input {
        width: 100%;
        padding: 15px;
        border-left: 2px solid #ff9039;
        border-right: none;
        border-top: none;
        border-bottom: 2px solid #d4d4d4;
        outline: none;
    }

    &__textarea {
        width: 100%;
        border-left: 2px solid #ff9039;
        min-height: 100px;
        outline: none;
        border: 1px solid #d4d4d4;
        resize: none;
    }

}