.hero {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    background-position: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#000, 0.5);
        //z-index: -1;
    }

    &__motto {
        position: relative;
        display: inline-block;
        z-index: 1;
        color: #fff;
        font-family: 'MSC-300',sans-serif;
        font-size: 2rem;
        line-height: 1;
        @include centerer-y;
    }

    &__title {
        margin: 0;
    }
}