.icons {

    &__list {
        display: flex;
        padding:0;
        margin: 0;
        list-style: none;
    }

    &__item {
        // positioning
        position: relative;
        padding-right: 100px;

        &:last-child {
            padding-right: 0;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        bottom: -10px;
    }
}