.info {

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link {
        font-family: 'MSC-300',sans-serif;
        color: #000000;
        font-size: 3rem;
        text-decoration: none;
        text-align: center;
        display: block;
    }
}