.main-menu {
    background-color: rgba(#15bae8, 0.8);
    padding: 24px 0;
    //box-shadow: ;

    &__list {
        display: flex;
        //justify-content: center;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        padding: 0 60px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }

    &__link {
        // positioning
        position: relative;
        text-decoration: none;
        font-size: 1.125rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Roboto',sans-serif;
        color: #fff;
        font-weight: 100;

        &::before {
            content: '';

            // positioning
            position: absolute;
            height: 1px;
            bottom: -10px;
            left: 0;

            // box model
            width: 100%;

            // visual
            visibility: hidden;
            background-color: #ffffff;
            transform: scaleX(0);
            transition: 0.3s ease-in-out all 0s;
        }

        &:hover,&:active {
            // typography
            //color: #65a447;

            &::before {
                // visual
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}