.projects {
    background-image: url('./img/bg-project.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#000, 0.5);
    }
    &__container {
        display: flex;
        flex-wrap: wrap;

    }

    &__item {
        width: 25%;
        position: relative;
        padding: 5px;
        transition: 0.3s ease-in-out opacity;

        &:hover {
            transition: 0.3s;
            //transform: scale(0.9);

        }
    }
    &__img {
        width: 100%;


        img {
            width: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__content {
        opacity: 0;
        visibility: hidden;
        @include centerer;

        &:hover {
            opacity: 1;
            visibility: visible;
        }
    }
}