.site-header {
    // box model
    //height: 300px;
    //background-image: url('./img/headerbg.png');
    //background-size: cover;
    background-position: center;
    background-repeat:repeat;
    //background-color: rgba(#z, 0.2);
}