.socials {

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        //width: 128px;
    }

    &__item {

    }

    &__link {
        text-decoration: none;
        display: inline-block;
        width: 36px;
        height: 36px;
        border: 1px solid #919191;
        border-radius: 50%;
        margin-right: 7px;
        margin-bottom: 6px;
        background-repeat: no-repeat;
        background-position: center;


        &:hover {
            transition: 0.4s background-color;
            border-color: rgba(255, 255, 255, 0.46);
        }

        &--fb {
            background-image: url('./img/fb.png');
            &:hover {
                background-image: url('./img/fbv.png');
                background-color: #3b5998;
            }
        }
        &--vk {
            background-image: url('./img/vk.png');
            &:hover {
                background-image: url('./img/vkv.png');
                background-color: #3b5998;
            }
        }
        &--in {
            background-image: url('./img/in.png');
            &:hover {
                background-image: url('./img/inv.png');
                background-color: #cb0f6e;
            }
        }
        &--ok {
            background-image: url('./img/ok.png');
            &:hover {
                background-image: url('./img/okv.png');
                background-color: #ff9039;
            }
        }
    }
}
