html {
    // box model
    height: 100%;
    width: 100%;
}

body {
    // box model
    margin: 0;
    padding: 0;

    // typography
    font-size:16px;

    // visual
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
