@font-face {
    font-family: 'MSC-300';
    src: url('./fonts/MuseoSansCyrl-100.woff');
    font-weight: 100;
}

@font-face {
     font-family: 'MSC-300';
    src: url('./fonts/MuseoSansCyrl-300.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'MSC-300';
    src: url('./fonts/MuseoSansCyrl-500.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'MSC-300';
    src: url('./fonts/MuseoSansCyrl-700.woff');
    font-weight: 700;
}