<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet" href="styles.css")
    title Главная
body
    header.site-header
        .container
            .main-nav
                .logo: img(src="./img/logo.png" alt="логотип компании")
                .icons
                    ul.icons__list
                            li.icons__item
                                icons__icon: img(src="./img/icons/icon1.png" alt="icon1")
                                p.icons__text Mon – Fri: 10AM – 7PM
                                p.icons__text Sat – Sun: 10AM – 3PM

                            li.icons__item
                                icons__icon: img(src="./img/icons/icon1.png" alt="icon1")
                                p.icons__text Mon – Fri: 10AM – 7PM
                                p.icons__text Sat – Sun: 10AM – 3PM
                .socials
                    ul.socials__list
                        - var socials = ['vk','fb','in','ok']
                        - var socialsLink = ['http://vk.com', 'http://facebook.com', 'http://instagramm.com', 'http://ok.ru']
                        each item, key in socials
                            li(class="socials__item socials__item--"+ socials[key]): a(href=socialsLink[key] class="socials__link socials__link--"+socials[key] )

                .info
                    ul.info__list
                        li.info__item: a.info__link(href="tel: 335252") 33-52-52
                        //li.info__item: a.info__link(href="tel: +79637385252") +7(963) 738-52-52
                    a.button(href="#") Заказать звонок
        .main-menu
            .container
                ul.main-menu__list
                    - var menuItem = ['О нас', 'Услуги', 'Наши работы', 'Скидки','Гарантии', 'Контакты']
                    - var menuLinks = ['#about','#services','#projects','#discounts', '#guarantees', '#contacts']
                        each item, key in menuItem
                            li.main-menu__item: a.main-menu__link(href=menuLinks[key])=menuItem[key]

    section.hero
        .container
            .hero__motto
                h1.hero__title Ремонт квартиры под ключ!
                h2.hero__subtitle от 2500руб / м<sup>2<sup>
                a.button.button--calc(href="#") Калькулятор стоимости
            .form__container
                .form
                    h3.form__title Получить скидку
                    form.form__form(action="order.php" method="POST")
                        .form__group
                            input.form__input(type="text" placeholder="Ваше имя")
                        .form__group
                            input.form__input(type="phone" placeholder="Ваш номер")
                        .form__group
                            textarea.form__textarea(placeholder="Ваше сообщение" )
                        .button__container
                            input.button.button--form(type="submit" value="Отправить")

    section.about
        .container
            .about__title Наши услуги

            .about__container
                article.about__card
                    .about__img: img(src="./img/card1.jpg")
                    .about__body
                        .about__card-title Косметический ремонт
                        .about__card-price от 990 руб./ м<sup>2<sup/>
                        .about__card-description Подходит для быстрого обновления интерьера
                        ul.about__list
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                    .about__footer
                            .about__duration Сроки ремонта: 10-30 дней
                            .button__container
                                a.button.button--calc(href="#") Получить расчет


                article.about__card
                    .about__img: img(src="./img/card1.jpg")
                    .about__body
                        .about__card-title Косметический ремонт
                        .about__card-price от 990 руб./ м<sup>2<sup/>
                        .about__card-description Подходит для быстрого обновления интерьера
                        ul.about__list
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                    .about__footer
                        .about__duration Сроки ремонта: 10-30 дней
                        .button__container
                            a.button.button--calc(href="#") Получить расчет

                article.about__card
                    .about__img: img(src="./img/card1.jpg")
                    .about__body
                        .about__card-title Косметический ремонт
                        .about__card-price от 990 руб./ м<sup>2<sup/>
                        .about__card-description Подходит для быстрого обновления интерьера
                        ul.about__list
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                    .about__footer
                        .about__duration Сроки ремонта: 10-30 дней
                        .button__container
                            a.button.button--calc(href="#") Получить расчет

    section.projects
        h3.about__title.about__title--white Наши проекты
        .projects__container
            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                        .project__title Ремонт на Киевской
                        .project__text This house was completely maintained by our experts.
                        .button__container
                            a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее
            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее
            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее
            //.button__container
            //    a.button.button--center(href="#") Посмотреть все проекты


    section.discounts: .container
        h3.discounts__title Скидки и акции
        p.discounts__subtitle Приятные скидки и подарки каждому клиенту!
script(src="app.js")

